@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #00d991;
}

.container {
  center: true;
  padding: 2.25rem;
}

.dark {
  @apply bg-[#171923] text-white;
}
